<launch>
    <!-- The namespace where images are published -->
    <arg name="camera" default="/kitti_player/grayscale" />

    <arg name="directory" default="$(find kitti_player)/../../../KITTI_dataset/raw_data/2011_10_03/2011_10_03_drive_0027_sync/" />

    <node name="kitti_player" pkg="kitti_player" type="kitti_player" required="true" 
	args= "-d $(arg directory) -f 5 -G -C" output="screen" />
</launch>

<!--
KITTIPLAYER command line
http://projects.ira.disco.unimib.it/projects/kitti_player/wiki/Wiki

help           h    help message
directory      d    *required* - path to the kitti dataset Directory
frequency      f    set replay Frequency
all            a    replay All data
velodyne       v    replay Velodyne data
gps            g    replay Gps data
imu            i    replay Imu data
grayscale      G    replay Stereo Grayscale images
color          C    replay Stereo Color images
viewer         V    enable image viewer
timestamps     T    use KITTI timestamps
stereoDisp     s    use pre-calculated disparities
viewDisp       D    view loaded disparity images
frame          F    start playing at frame...
gpsPoints      p    publish GPS/RTK markers to RVIZ, having reference frame as <reference_frame> [example: -p map]
synchMode      S    Enable Synch mode (wait for signal to load next frame [std_msgs/Bool "data: true"]
-->
